.dark-mode {
  color: #ffffff;
}

.light-mode {
  color: #1a1a1a;
}

.dark-mode .btn_primary {
  position: relative;
  border: 2px solid #ffffff;
}
.dark-mode .btn_primary:hover {
  color: #1a1a1a;
  background-color: #ffffff;
}

.dark-mode .scroll-to-top {
  background-color: #ffffff;
}
.dark-mode .icon_up {
  color: #1a1a1a;
}

@media only screen and (max-width: 600px) {
  body.dark-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_sm_dark_bg.jpg) !important ;
  }
  body.light-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_sm_bg.jpg) !important ;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 900px) {
  body.dark-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_md_dark_bg.jpg) !important ;
  }
  body.light-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_md_bg.jpg) !important ;
  }
}

/* Large screen dark mode */
@media only screen and (min-width: 1200px) {
  body.dark-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_dark_bg.jpg) !important;
  }

  body.light-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction-bg.jpg) !important;
  }
}
