.dark-mode {
  color: #ffffff;
}

.light-mode {
  color: #1a1a1a;
}
.dark-mode .text-color {
  color: #ffffff;
}
.light-mode .text-color {
  color: #1a1a1a;
}

.dark-mode .btn_primary {
  position: relative !important;
  border: 2px solid #ffffff !important;
}
.dark-mode .btn_primary:hover {
  color: #1a1a1a;
  background-color: #ffffff;
}

.dark-mode .scroll-to-top {
  background-color: #ffffff;
}
.dark-mode .icon_up {
  color: #1a1a1a;
}

/* page 404 */
body.light-mode .page404_body {
  background-image: repeating-linear-gradient(
      90deg,
      hsla(196, 0%, 79%, 0.06) 0px,
      hsla(196, 0%, 79%, 0.06) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(196, 0%, 79%, 0.06) 0px,
      hsla(196, 0%, 79%, 0.06) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(196, 0%, 79%, 0.09) 0px,
      hsla(196, 0%, 79%, 0.09) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(196, 0%, 79%, 0.09) 0px,
      hsla(196, 0%, 79%, 0.09) 1px,
      transparent 1px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
body.dark-mode .page404_body {
  background-image: repeating-linear-gradient(
      90deg,
      hsla(196, 0%, 79%, 0.06) 0px,
      hsla(196, 0%, 79%, 0.06) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(196, 0%, 79%, 0.06) 0px,
      hsla(196, 0%, 79%, 0.06) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(196, 0%, 79%, 0.09) 0px,
      hsla(196, 0%, 79%, 0.09) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(196, 0%, 79%, 0.09) 0px,
      hsla(196, 0%, 79%, 0.09) 1px,
      transparent 1px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(26, 26, 26), rgb(26, 26, 26));
}

@media only screen and (max-width: 600px) {
  body.dark-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_sm_dark_bg.jpg) !important ;
  }
  body.light-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_sm_bg.jpg) !important ;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 900px) {
  body.dark-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_md_dark_bg.jpg) !important ;
  }
  body.light-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_md_bg.jpg) !important ;
  }
}

/* Large screen dark mode */
@media only screen and (min-width: 1200px) {
  body.dark-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction_dark_bg.jpg) !important;
  }

  body.light-mode .introduction_bg {
    background-image: url(../../Assets/img/introduction-bg.jpg) !important;
  }
}
