/* index.css */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "Assets/Theme/Dark.css";
@import "Assets/Theme/Style.css";

@font-face {
  font-family: "Nevis";
  src: url("/src/Assets/font/nevis.ttf") format("truetype");
}

body {
  font-family: "Nevis", sans-serif;
}
